{% extends 'base.html.twig' %}

{% block title %}Riddles{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Solvers</th>
            <th scope="col">Date</th>
            <th scope="col">Solution</th>
        </tr>
        </thead>
        <tbody>
        {% for riddle in riddles %}
            <tr>
                <td><a href="{{url('app_submit', {id: riddle.id})}}">{{riddle.id}}</a></td>
                <td>{{riddle.name}}</td>
                <td>{{riddle.difficulty}}</td>
                <td>{{riddle.scores|length}}</td>
                <td>{{riddle.createdAt|date("m/d/Y")}}</td>

                {% if app.user.hasSolved(riddle) %}
                    <td>{{riddle.token}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
